<div class="row" bis_skin_checked="1">
  <div class="col-12" bis_skin_checked="1">
    <div class="card" bis_skin_checked="1">
      <div class="card-body" bis_skin_checked="1">

        <form class="app-search d-none d-lg-block" style="margin-left: 0;" action="/product" method="get">
          <div class="inner mb-3 row">
            <div class="col-md-11 col-11 position-relative" bis_skin_checked="1">
              <input type="text" class="inner form-control form-control" placeholder="Поиск..." name="search">
              <span class="uil-search" style="left: 23px;"></span>
            </div>
            <div class="col-md-1 col-1 d-grid" bis_skin_checked="1">
              <button type="submit" class="btn btn-info btn-soft-info waves-effect waves-light"><i
              class="uil-search me-2"></i>Поиск</button>
            </div>
          </div>
        </form>

        <div class="messages">
          {{#if success}}
          <div id="success" class="alert alert-success" role="alert" bis_skin_checked="1">
            Успешно! <a class="alert-link">{{success}}</a>
          </div>
          {{/if}}
        </div>

        <div class="d-flex align-items-center justify-content-between">
          <h4 class="card-title">Продукты</h4>
          <button type="button" class="btn btn-light btn-rounded waves-effect" data-bs-toggle="modal"
            data-bs-target="#addModal">
            Добавить</button>
        </div>
        <p class="card-title-desc">Таблица Продуктов</p>

        <div class="table-responsive" bis_skin_checked="1">
          <table class="table table-editable table-nowrap align-middle table-edits">
            <thead>
              <tr style="cursor: pointer;">
                <th>№</th>
                <th>Категория</th>
                <th>Субкатегория</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Материал</th>
                <th>Статус</th>
                <th>Детали</th>
                <th>Подробно</th>
                <th>Изменить</th>
                <th>Удалить</th>
              </tr>
            </thead>
            <tbody>
              {{#each product}}
              <tr data-id="1" style="cursor: pointer;">
                <td data-field="id" style="width: 80px">{{index}}</td>
                <td>{{category.title}}</td>
                <td>{{subcategory.title}}</td>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{material}}</td>
                <td><span class="{{class}}">{{status}}</span></td>
                <td style="width: 100px;">
                  <button class="btn btn-outline-secondary" title="Добавить детали продукту" type="button" data-bs-toggle="modal"
                    data-bs-target="#detailsModal" onclick="details('{{_id}}')">
                    <i class="bx bxs-image-add"></i>
                  </button>
                </td>
                <td style="width: 100px">
                  <a href="/product/info/{{_id}}" class="btn btn-outline-secondary" title="Подробнее">
                    <i class="mdi mdi-eye"></i>
                  </a>
                </td>
                <td style="width: 100px;">
                  <button class="btn btn-outline-secondary" title="Изменить" type="button" data-bs-toggle="modal"
                    data-bs-target="#editModal" onclick="change('{{_id}}')">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </td>
                <td style="width: 100px">
                  <a href="/product/delete/{{_id}}" class="btn btn-outline-secondary" title="Удалить">
                    <i class="uil-trash-alt"></i>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <nav aria-label="..." class="mt-3 d-flex justify-content-end">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" tabindex="-1">Назад</a>
            </li>
            {{#each pages}}
            <li class="page-item {{class}}"><a class="page-link" href="?page={{queryNum}}">{{num}}</a></li>
            {{/each}}
            <li class="page-item">
              <a class="page-link" href="#">Далее</a>
            </li>
          </ul>
        </nav>

        <div>
          <!-- add Category -->
          <div class="modal fade bs-example-modal-xl" id="addModal" tabindex="-1"
            aria-labelledby="myExtraLargeModalLabel" bis_skin_checked="1" style="padding-right: 19px;" aria-modal="true"
            role="dialog">
            <div class="modal-dialog modal-xl" bis_skin_checked="1">
              <div class="modal-content" bis_skin_checked="1">
                <div class="modal-header" bis_skin_checked="1">
                  <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">Добавать книгу</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body" bis_skin_checked="1">
                  <form action="/product/add" method="post">
                    <div class="row">
                      <div class="col-lg-4 mb-3" bis_skin_checked="1" data-select2-id="170">
                        <label class="form-label">Категория продукта</label>
                        <select class="form-control select2-search-disable select2-hidden-accessible"
                          data-select2-id="6" tabindex="-1" aria-hidden="true"
                          name="category" id="category">
                          <option data-select2-id="8">Выберите категорию...</option>
                          {{#each category}}
                          <option value="{{_id}}">{{title}}</option>
                          {{/each}}
                        </select>
                      </div>

                      <div class="col-lg-4 mb-3" bis_skin_checked="1" data-select2-id="170">
                        <label class="form-label">Субкатегория продукта</label>
                        <select class="form-control select2-search-disable select2-hidden-accessible"
                          data-select2-id="6" tabindex="-1" aria-hidden="true"
                          name="subcategory" id="subcategory">
                          <option data-select2-id="8">Выберите субкатегорию...</option>
                        </select>
                      </div>

                      <div class="mb-3 col-lg-4" bis_skin_checked="1">
                        <label class="form-label" for="formrow-firstname-input">Название продукта</label>
                        <input type="text" class="form-control" id="formrow-firstname-input" name="title">
                      </div>

                      <div class="mb-3 col-lg-6" bis_skin_checked="1">
                        <label class="form-label" for="formrow-firstname-input">Материал</label>
                        <input type="text" class="form-control" id="formrow-firstname-input" name="material">
                      </div>

                      <div class="mb-3 col-lg-6" bis_skin_checked="1">
                        <label class="form-label" for="formrow-firstname-input">Цена</label>
                        <input type="text" class="form-control" id="formrow-firstname-input" name="price">
                      </div>

                      <div class="mb-3 col-lg-12" bis_skin_checked="1">
                        <label class="form-label" for="formrow-firstname-input">Описание</label>
                        <textarea type="text" class="form-control" id="formrow-firstname-input" name="description"></textarea>
                      </div>
                    </div>

                    <div class="form-check form-switch mb-3" dir="ltr" bis_skin_checked="1">
                      <input type="checkbox" class="form-check-input" id="customSwitch1" checked="" name="status"
                        value="1">
                      <label class="form-check-label" for="customSwitch1">Активность</label>
                    </div>

                    <div class="modal-footer" bis_skin_checked="1">
                      <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Закрыть</button>
                      <button type="submit" class="btn btn-primary waves-effect waves-light">Добавить</button>
                    </div>
                  </form>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>

          {{!-- add details --}}
          <div class="modal fade bs-example-modal-xl" id="detailsModal" tabindex="-1"
            aria-labelledby="myExtraLargeModalLabel" bis_skin_checked="1" style="padding-right: 19px;" aria-modal="true"
            role="dialog">
            <div class="modal-dialog modal-xl" bis_skin_checked="1">
              <div class="modal-content" bis_skin_checked="1">
                <div class="modal-header" bis_skin_checked="1">
                  <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">Добавать детали</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body" bis_skin_checked="1">
                  <form action="/product/add/details" method="post" enctype="multipart/form-data" name="detail">
                    <input type="hidden" name="_id">
                    <div class="row">
                      <div class="mb-3 col-lg-3" bis_skin_checked="1">
                        <label class="form-label" for="formrow-firstname-input">Цвет</label>
                        <input type="color" class="form-control" id="formrow-firstname-input" name="color">
                      </div>

                      <div class="col-lg-3 mb-3" bis_skin_checked="1">
                        <input type="file" class="form-control-file" name="img" style="margin-top: 30px;" multiple>
                      </div>

                      <div class="mb-3 col-lg-6" bis_skin_checked="1">
                        <label class="form-label" for="formrow-firstname-input">Размеры</label>
                        <input type="text" class="form-control" id="formrow-firstname-input" name="size" placeholder="Пишите S, XS, XXS, и т.д.">
                      </div>
                    </div>

                    <div class="form-check form-switch mb-3" dir="ltr" bis_skin_checked="1">
                      <input type="checkbox" class="form-check-input" id="customSwitch1" checked="" name="detailStatus"
                        value="1">
                      <label class="form-check-label" for="customSwitch1">Активность</label>
                    </div>

                    <div class="modal-footer" bis_skin_checked="1">
                      <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Закрыть</button>
                      <button type="submit" class="btn btn-primary waves-effect waves-light">Добавить</button>
                    </div>
                  </form>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>

          <!-- edit Category -->
          <div class="modal fade bs-example-modal-xl" id="editModal" tabindex="-1"
            aria-labelledby="myExtraLargeModalLabel" bis_skin_checked="1" style="padding-right: 19px;" aria-modal="true"
            role="dialog">
            <div class="modal-dialog modal-xl" bis_skin_checked="1">
              <div class="modal-content" bis_skin_checked="1">
                <div class="modal-header" bis_skin_checked="1">
                  <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">Добавать книгу</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body" bis_skin_checked="1">
                  <form action="/product/save" method="post" name="editForm">
                  <input type="hidden" name="_id">
                    <div class="row">
                      <div class="col-lg-4 mb-3" bis_skin_checked="1" data-select2-id="170">
                        <label class="form-label">Категория продукта</label>
                        <select class="form-control select2-search-disable select2-hidden-accessible"
                          data-select2-id="6" tabindex="-1" aria-hidden="true"
                          name="category" id="categoryChange">
                          <option data-select2-id="8">Выберите категорию...</option>
                          {{#each category}}
                          <option value="{{_id}}">{{title}}</option>
                          {{/each}}
                        </select>
                      </div>

                      <div class="col-lg-4 mb-3" bis_skin_checked="1" data-select2-id="170">
                        <label class="form-label">Субкатегория продукта</label>
                        <select class="form-control select2-search-disable select2-hidden-accessible"
                          data-select2-id="6" tabindex="-1" aria-hidden="true"
                          name="subcategory" id="subcategoryChange">
                          <option data-select2-id="8">Выберите субкатегорию...</option>
                        </select>
                      </div>

                      <div class="mb-3 col-lg-4" bis_skin_checked="1">
                        <label class="form-label" for="formrow-firstname-input">Название продукта</label>
                        <input type="text" class="form-control" id="formrow-firstname-input" name="title">
                      </div>

                      <div class="mb-3 col-lg-6" bis_skin_checked="1">
                        <label class="form-label" for="formrow-firstname-input">Материал</label>
                        <input type="text" class="form-control" id="formrow-firstname-input" name="material">
                      </div>

                      <div class="mb-3 col-lg-6" bis_skin_checked="1">
                        <label class="form-label" for="formrow-firstname-input">Цена</label>
                        <input type="text" class="form-control" id="formrow-firstname-input" name="price">
                      </div>

                      <div class="mb-3 col-lg-12" bis_skin_checked="1">
                        <label class="form-label" for="formrow-firstname-input">Описание</label>
                        <textarea type="text" class="form-control" id="formrow-firstname-input" name="description"></textarea>
                      </div>
                    </div>

                    <div class="form-check form-switch mb-3" dir="ltr" bis_skin_checked="1">
                      <input type="checkbox" class="form-check-input" id="customSwitch1" checked="" name="status"
                        value="1">
                      <label class="form-check-label" for="customSwitch1">Активность</label>
                    </div>

                    <div class="modal-footer" bis_skin_checked="1">
                      <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Закрыть</button>
                      <button type="submit" class="btn btn-primary waves-effect waves-light">Добавить</button>
                    </div>
                  </form>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>

        </div>
      </div>
    </div>
  </div> <!-- end col -->
</div>

<script>

  let categoryForm = document.getElementById('category')
  let subcategoryForm = document.getElementById('subcategory')

  categoryForm.addEventListener('change', (event) =>{
    subcategoryForm.innerHTML = '<option selected>Выберите субкатегорию...</option>'
    let _id = event.target.value
    fetch(`/product/category/${_id}`)
    .then(res => res.json())
    .then(subcategory =>{
      subcategory.forEach(sub =>{
        subcategoryForm.innerHTML += `
        <option value="${sub._id}">${sub.title}</option>
      `
      })
    })
  })


  let detail = document.forms.detail

  function details(id){ 
    fetch(`/product/details/${id}`)
    .then(res => res.json())
    .then(product =>{
      detail._id.value = id
    })
  }


  let editForm = document.forms.editForm
  let categoryChangeForm = document.getElementById('categoryChange')
  let subcategoryChangeForm = document.getElementById('subcategoryChange')

  function change(id){
    fetch(`/product/change/${id}`)
    .then(res => res.json())
    .then(product =>{
      editForm._id.value = id
      editForm.category.value = product.category._id
      if(product.category._id){
        let _id = product.category._id
        subcategoryChangeForm.innerHTML = '<option selected>Выберите субкатегорию...</option>'
        fetch(`/product/category/${_id}`)
        .then(res => res.json())
        .then(subcategory =>{
          subcategory.forEach(sub =>{
            subcategoryChangeForm.innerHTML += `
            <option value="${sub._id}">${sub.title}</option>`
            editForm.subcategory.value = product.subcategory._id
          })
        })
      }

      categoryChangeForm.addEventListener('change', (event) =>{
        subcategoryChangeForm.innerHTML = '<option selected>Выберите субкатегорию...</option>'
        let _id = event.target.value
        fetch(`/product/category/${_id}`)
        .then(res => res.json())
        .then(subcategory =>{
          console.log(subcategory)
          subcategory.forEach(sub =>{
            subcategoryChangeForm.innerHTML += `
            <option value="${sub._id}">${sub.title}</option>
          `
          })
        })
      })
      editForm.title.value = product.title
      editForm.price.value = product.price
      editForm.material.value = product.material
      editForm.description.value = product.description
      editForm.status.checked = product.status == 1 ? true : false
    })
  }


  if(document.getElementById('error')){
    setTimeout(() =>{
      document.getElementById('error').remove()
    }, 5000)
  }
  if(document.getElementById('success')){
    setTimeout(() =>{
      document.getElementById('success').remove()
    }, 5000)
  }

</script>